<link rel="stylesheet" href="/css/footer.css">

<!-- <div>
    <div class="container">
        <div class="footer">
            help
        </div>
    </div>
</div> -->


<footer>
    <div class="footer-container footer-container-image">
        <h3>UTA | SHPE</h3>
        <img class="footer-image" src="../images/nedderman.jpg" alt="nedderman hall :)">
    </div>
    <div class="footer-container footer-container-information">
        stuff

        <div class="footer-information-left">
            
        </div>
        <div class="footer-information-right">
        </div>
    </div>
</footer>