<link rel="stylesheet" href="/css/footer.css">

<!-- <div>
    <div class="container">
        <div class="footer">
            help
        </div>
    </div>
</div> -->


<footer>
    <div class="footer-container footer-container-image">
        <h3>UTA | SHPE</h3>
        <img class="footer-image" src="../images/nedderman.jpg" alt="nedderman hall :)">
    </div>
    <div class="footer-container footer-container-information">
     

        <div class="footer-information-left">
            <div class="information-text">
                <h3>Contact</h3></br>
                <p>Office </br>
                    Phone: 817-555-5555</br>
                    Location: Nedderman Hall 123</p>
            </div>
            </br>   
            <div class="information-nav">
                <a>Home</a>
                <a>About</a>
                <a>Officers</a>
                <a>Events</a>
                <a>Resources</a>
            </div>
        </div>
        <div class="footer-information-right">
            <a>F</a>
            <a>F</a>
            <a>F</a>
        </div>
    </div>
</footer>